// Varaibles

$baseColor: #22ab4b;
$darkGreen:#156A2F;
$darken: #0d2e3a;
$border: #e5e5e5;
$red:#fe6d73;
$light:#E5FAEC;
$black: #000;
$white: #fff;

//extra add on 
$lightyellow:#FFDEA9;
$darkgray:#444444;
$lightgray:#666666;
