@import 'mixin';
@import 'variables';

// Google Font : Noto Sans TC: font-family: 'Noto Sans TC', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap');

*{
    font-family: 'Noto Sans TC', sans-serif;
    &:focus,&:hover{
        outline: 0px;
    }
}


//breadcumb style here
.breadcumb{
    width: 100%;
    @include flex;
    flex-wrap: wrap;
    padding: 20px 0;

    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0;
            display: inline-block;
            position: relative;
            a{
                @include font(15);
                color:$black;
                text-decoration: none;
                @include transition;
                &:hover{
                    color:$baseColor;
                }
            }           
        }        
        li:before{
            display: inline-block;
            padding-right: .5rem;
            padding-left: .5rem;
            color: $black;
            content: ">";
        }
        li:first-child:before{
            content: none;
        }        
        li:last-child a{
            color: $baseColor;
        }
    }
}

//password style here
.password{
    width:100%;
    padding:25px 0 60px;
    min-height: 550px;
    h1{
        @include font(30);
        color: $darken;
        margin:0 0 15px;
    }
    .passwordwrap{
        @include flex();
        justify-content: space-between;
        align-items: center; 
        background: lighten($light, 1%);
        @include radius(5px);
        padding: 30px;
        .passfeildwrap{
            width: calc(50% - 15px);
        }
        .form-group{
            margin-bottom: 20px;
            position: relative;
            .text-field {
                width: 100%;
                background-color: $white;
                .MuiInputBase-root:hover {
                  .MuiOutlinedInput-notchedOutline{
                      border-color: rgba(0, 0, 0, 0.23);
                      border-width: 1px;
                  }
                }
                .MuiOutlinedInput-root.Mui-focused{
                  .MuiOutlinedInput-notchedOutline{
                      border-color: rgba(0, 0, 0, 0.23);
                      border-width: 1px; 
                  }
                }
                .MuiInputLabel-outlined.MuiInputLabel-shrink{
                    color: #22ab4b;
                    font-size: 16px;
                }
              }
            // .showpassword{
            //     position: absolute;
            //     right: 20px;
            //     top: 18px;
            //     display: inline-block;
            //     cursor: pointer;
            //     @include font(14);
            //     color: $baseColor;
            //     opacity: 0.5;
            //     font-weight: 300;
            //     padding: 4px;
            // }
            // .form-control{
            //     padding: 1rem 0.95rem; 
            //     border: 1px solid #ccc;
            //     @include font(16);
            //     @include radius(5px);
            //     color: $darken;
            //     line-height: 1.4;
            //     width: 100%;
            //     display: block;
            //     background-color: $white;
            //     background-clip: padding-box;
            //     @include transition();
            //     &:focus{
            //         outline: none;
            //         box-shadow: 0 0 0 0.2rem rgba($baseColor, 0.5%)
            //     } 
            //     &::placeholder {
            //         @include font(14);
            //         color: lighten($black, 50%);
            //         font-weight: 300;
            //     }                    
            // }          
        } 
        .btncancle{
            margin: 5px 0 0 0;
            display: inline-block;
            width: auto;
            padding: 12px 50px;
            background: transparent;
            color: $darken;
            text-align: center;
            @include radius(6px);
            @include font(18);
            @include transition;
            outline: none;
            border: 1px solid $darken;
            cursor: pointer;
            &:hover{
                background: $darken;
                color: $light;
                @include shadow(0,3px,13px, rgba($black, .5%));
            }
        }
        .btnsubmit{
            margin: 5px 0 0 15px;;
            display: inline-block;
            width: auto;
            padding: 12px 50px;
            background: $baseColor;
            color: $white;
            text-align: center;
            @include radius(6px);
            @include font(18);
            @include transition;
            outline: none;
            border: 0;
            cursor: pointer;
            &:hover{
                background: $darken;
                @include shadow(0,3px,13px, rgba($black, .5%));
            }
        }       
    }
    .passimgwrap{
        width: calc(50% - 15px);
        .passimg{
            display: flex;
            justify-content: flex-end;
            padding-right: 40px;
            img{
                width: auto;
                height: auto;
            }
        }
    }
}

//responsive style here
@media (max-width:991px){
    .password{
        width:100%;
        padding:20px 0 50px;
        min-height: 550px;
        h1{
            @include font(26);
        }
        .passwordwrap{
            @include flex();
            justify-content: space-between;
            align-items: center; 
            background: lighten($light, 1%);
            @include radius(5px);
            padding: 30px;
            .passfeildwrap{
                width: calc(50% - 15px);
            }
            .form-group{
                margin-bottom: 15px;
                position: relative;
                .showpassword{
                    right: 15px;
                    top: 12px;
                }
                .form-control{
                    padding: 0.80rem 0.95rem;                      
                }          
            } 
            .btncancle{
                margin: 5px 0 0 0;
                padding: 10px 35px;
            }
            .btnsubmit{
                margin: 5px 0 0 15px;
                padding: 10px 35px;
            }       
        }
        .passimgwrap{
            width: calc(50% - 15px);
            .passimg{
                display: flex;
                justify-content: flex-end;
                padding-right: 0;
                img{
                    width: 80%;
                    height: auto;
                }
            }
        }
    }
}

//responsive style here
@media (max-width:767px){
    .password{
        width:100%;
        padding:20px 0 50px;
        min-height: 550px;
        h1{
            @include font(22);
        }
        .passwordwrap{
            flex-wrap: wrap;
            padding: 18px;
            .passfeildwrap{
                width: 100%;
            }
            .form-group{
                margin-bottom: 15px;
                position: relative;
                .showpassword{
                    right: 15px;
                    top: 12px;
                }
                .form-control{
                    padding: 0.80rem 0.95rem;                      
                }          
            } 
            .btncancle{
                margin: 5px 0 0 0;
                padding: 8px 25px;
            }
            .btnsubmit{
                margin: 5px 0 0 15px;
                padding: 8px 25px;
            }       
        }
        .passimgwrap{
            width: 100%;
            margin-top: 40px;
            .passimg{
                display: flex;
                justify-content: center;
                padding-right: 0;
                img{
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}
