/* Mixin */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap");
.flex {
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

*:focus, *:hover {
  outline: 0px;
}

.breadcumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.breadcumb ul {
  margin: 0;
  padding: 0;
}

.breadcumb ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
  position: relative;
}

.breadcumb ul li a {
  font-size: 0.9375rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.breadcumb ul li a:hover {
  color: #22ab4b;
}

.breadcumb ul li:before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #000;
  content: ">";
}

.breadcumb ul li:first-child:before {
  content: none;
}

.breadcumb ul li:last-child a {
  color: #22ab4b;
}

.password {
  width: 100%;
  padding: 25px 0 60px;
  min-height: 550px;
}

.password h1 {
  font-size: 1.875rem;
  color: #0d2e3a;
  margin: 0 0 15px;
}

.password .passwordwrap {
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e9fbef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 30px;
}

.password .passwordwrap .passfeildwrap {
  width: calc(50% - 15px);
}

.password .passwordwrap .form-group {
  margin-bottom: 20px;
  position: relative;
}

.password .passwordwrap .form-group .showpassword {
  position: absolute;
  right: 20px;
  top: 18px;
  display: inline-block;
  cursor: pointer;
  font-size: 0.875rem;
  color: #22ab4b;
  opacity: 0.5;
  font-weight: 300;
  padding: 4px;
}

.password .passwordwrap .form-group .form-control {
  padding: 1rem 0.95rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #0d2e3a;
  line-height: 1.4;
  width: 100%;
  display: block;
  background-color: #fff;
  background-clip: padding-box;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.password .passwordwrap .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 171, 75, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(34, 171, 75, 0.5);
}

.password .passwordwrap .form-group .form-control::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: gray;
  font-weight: 300;
}

.password .passwordwrap .form-group .form-control:-ms-input-placeholder {
  font-size: 0.875rem;
  color: gray;
  font-weight: 300;
}

.password .passwordwrap .form-group .form-control::-ms-input-placeholder {
  font-size: 0.875rem;
  color: gray;
  font-weight: 300;
}

.password .passwordwrap .form-group .form-control::placeholder {
  font-size: 0.875rem;
  color: gray;
  font-weight: 300;
}

.password .passwordwrap .btncancle {
  margin: 5px 0 0 0;
  display: inline-block;
  width: auto;
  padding: 12px 50px;
  background: transparent;
  color: #0d2e3a;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  outline: none;
  border: 1px solid #0d2e3a;
  cursor: pointer;
}

.password .passwordwrap .btncancle:hover {
  background: #0d2e3a;
  color: #E5FAEC;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
}

.password .passwordwrap .btnsubmit {
  margin: 5px 0 0 15px;
  display: inline-block;
  width: auto;
  padding: 12px 50px;
  background: #22ab4b;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  outline: none;
  border: 0;
  cursor: pointer;
}

.password .passwordwrap .btnsubmit:hover {
  background: #0d2e3a;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.5);
}

.password .passimgwrap {
  width: calc(50% - 15px);
}

.password .passimgwrap .passimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

.password .passimgwrap .passimg img {
  width: auto;
  height: auto;
}

@media (max-width: 991px) {
  .password {
    width: 100%;
    padding: 20px 0 50px;
    min-height: 550px;
  }
  .password h1 {
    font-size: 1.625rem;
  }
  .password .passwordwrap {
    display: -webkit-box;
    display: -ms-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #e9fbef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 30px;
  }
  .password .passwordwrap .passfeildwrap {
    width: calc(50% - 15px);
  }
  .password .passwordwrap .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  .password .passwordwrap .form-group .showpassword {
    right: 15px;
    top: 12px;
  }
  .password .passwordwrap .form-group .form-control {
    padding: 0.80rem 0.95rem;
  }
  .password .passwordwrap .btncancle {
    margin: 5px 0 0 0;
    padding: 10px 35px;
  }
  .password .passwordwrap .btnsubmit {
    margin: 5px 0 0 15px;
    padding: 10px 35px;
  }
  .password .passimgwrap {
    width: calc(50% - 15px);
  }
  .password .passimgwrap .passimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 0;
  }
  .password .passimgwrap .passimg img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .password {
    width: 100%;
    padding: 20px 0 50px;
    min-height: 550px;
  }
  .password h1 {
    font-size: 1.375rem;
  }
  .password .passwordwrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 18px;
  }
  .password .passwordwrap .passfeildwrap {
    width: 100%;
  }
  .password .passwordwrap .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  .password .passwordwrap .form-group .showpassword {
    right: 15px;
    top: 12px;
  }
  .password .passwordwrap .form-group .form-control {
    padding: 0.80rem 0.95rem;
  }
  .password .passwordwrap .btncancle {
    margin: 5px 0 0 0;
    padding: 8px 25px;
  }
  .password .passwordwrap .btnsubmit {
    margin: 5px 0 0 15px;
    padding: 8px 25px;
  }
  .password .passimgwrap {
    width: 100%;
    margin-top: 40px;
  }
  .password .passimgwrap .passimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .password .passimgwrap .passimg img {
    width: 90%;
    height: auto;
  }
}
/*# sourceMappingURL=changepassword.css.map */