@import 'mixin';
@import 'variables';

  
.breadcumb{
    width: 100%;
    @include flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin: 0;
            display: inline-block;
            position: relative;
            a{
                @include font(15);
                color:$black;
                text-decoration: none;
                @include transition;
                &:hover{
                    color:$baseColor;
                }
            }           
        }
        li:last-child:before{
            display: inline-block;
            padding-right: .5rem;
            padding-left: .5rem;
            color: $black;
            content: ">";
        }
        li:last-child a{
            color: $baseColor;
        }
    }
}  


.productlist{
    padding: 30px 50px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    .leafimage{
        position: absolute;
        width: 400px;
        z-index: -1;
        right: -210px;
        top: -160px;
    }
    .innerpagenav{
        width: 100%;
        padding:25px 0px 0px 30px;
        position: absolute;
        top: 150px;
        left: 0;
        .sidesticky{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            p{
                @include font(16);
                position: relative;
                &:before{
                    content: '';
                    height: 1px;
                    width: 25px;
                    background-color: $darkgray;
                    position: absolute;
                    left: -30px;
                    top: 50%;
                }
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    margin: 0;
                    padding-left: 30px;               
                    a{
                        color: $darkgray;
                        @include font(14);
                        display: inline-block;
                        padding: 8px 0px;
                        position: relative;
                        line-height: 20px;
                        text-decoration: none;
                        @include transition();
                        position: relative;                    
                        &:before{
                            content: '';
                            height: 1px;
                            width: 25px;
                            background-color: $darkgray;
                            position: absolute;
                            left: -30px;
                            top: 50%;                        
                        }
                        &:hover::before{
                            background-color: $baseColor;
                        }                
                        &:hover{
                            color: $baseColor;
                        }                    
                    }
                    .active{
                        color: $baseColor;
                    }
                    .active:before{
                        background-color: $baseColor;
                    }
                }            
            }
        }
        
    }


    .productlisting{
        width: 100%;
        padding-top: 25px;
        h1{
            @include font(42);
            font-weight: 700;
            margin-bottom: 15px;
            letter-spacing: 0px;
            color: $darkGreen;
        }
        .productitems{
            width: 100%;
            @include flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            .productbox{
                width: calc(33% - 8px);
                padding: 15px 15px 20px;
                background: $white;
                opacity: 1;
                margin-top: 20px;
                @include radius(6px);
                box-shadow: 0px 9px 29px #0000001A;
                .productimg{
                    background-color: $lightyellow;
                    border-radius: 6px 6px 0 0;
                    padding: 15px;
                    text-align: center;
                    a{
                        display: inline-block;
                        cursor: pointer;
                    }
                    img{
                        width: 164px;
                        height: auto;
                        @include transition;
                        &:hover{
                            @include scale(1.1);
                        }
                    }
                }
                .productname{
                    a{
                        font-weight: 600;
                        @include font(18);
                        margin-top: 10px;
                        letter-spacing: 0px;
                        display: block;
                        color:$black;
                        text-decoration: none;
                        cursor: pointer;
                        @include transition;
                        &:hover{
                            text-decoration: underline;
                            color: $baseColor;
                        }
                    }

                }
                .productprice{
                    font-weight: 700;
                    @include font(18);
                    letter-spacing: 0px;
                    margin: 0;
                }
                .productdetail{
                    @include font(15);
                    margin-top: 13px;
                    min-height: 50px;
                }
                button{
                    border:1px solid $baseColor;
                    padding: 4px 20px 6px;
                    background-color: $white;
                    color:$baseColor;
                    outline: none;
                    cursor: pointer;
                    display: inline-block;
                    margin-top: 15px;
                    box-shadow: 0px 9px 29px #0000001A;
                    @include radius(17px);
                    img{
                        vertical-align: middle;
                        padding-left:8px;
                        margin-top: -4px;                        
                        @include transition();                                              
                    }
                    &:hover{
                        img{
                            @include translateX(5px); 
                        }
                    }  
                    &:hover{
                        background: rgba($baseColor, 0.05%);                                           
                    }                    
                }
                &:hover{
                    .productimg{
                        img{
                            @include scale(1.1);
                        }
                    }                    
                }
            }            
        }     
    }
}

@media (max-width: 1024px) {
    .productlist{
        .productlisting{
            h1{
                @include font(34);
            }
            .productitems{            
                .productbox{
                    .productimg{
                        img{
                            width: 100%;
                        }
                    }
                    .productname{
                        min-height: 55px;
                    }
                    .productdetail{
                        min-height: 70px
                    }
                }
            }
        }
    }    
}

@media (max-width: 767px) {
    .productlist{
        .productlisting{
            h1{
                @include font(30);
            }
            .productitems{            
                .productbox{
                    width: calc(100% - 8px);
                    .productimg{
                        img{
                            width: 164px;
                        }
                    }
                    .productname{
                        min-height: 0;
                    }
                    .productdetail{
                        min-height: 0;
                    }
                }
            }
        }
    }
    
}


