/* Mixin */
.flex {
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
  background: #e9fbef;
}

.breadcumb ul {
  margin: 0;
  padding: 0;
}

.breadcumb ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
  position: relative;
}

.breadcumb ul li a {
  font-size: 0.9375rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.breadcumb ul li a:hover {
  color: #22ab4b;
}

.breadcumb ul li:before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #000;
  content: ">";
}

.breadcumb ul li:first-child:before {
  content: none;
}

.breadcumb ul li:last-child a {
  color: #22ab4b;
}

.producthighlight {
  width: 100%;
  padding: 20px 0 45px;
  background: #e9fbef;
}

.productdtls h1 {
  font-size: 2.625rem;
  font-weight: 700;
  letter-spacing: 0px;
  color: #156A2F;
}

.productdtls p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 15px;
  color: #000;
  max-width: 600px;
}

.productdtls .testdetail {
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.productdtls .testdetail .testdetailimg {
  width: 48px;
  height: 48px;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

.productdtls .testdetail .testdetailimg img {
  width: auto;
  height: auto;
}

.productdtls .testdetail .quesanw {
  display: inline-block;
}

.productdtls .testdetail .quesanw .testques {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.productdtls .testdetail .quesanw .testans {
  font-size: 1.125rem;
  font-weight: 600;
  color: #22ab4b;
}

.productdtls .productprice {
  font-size: 2.25rem;
  font-weight: 600;
  color: #0d2e3a;
  margin-top: 25px;
}

.productdtls .cart {
  margin-top: 8px;
}

.productdtls .cart ul {
  margin: 0;
  padding: 0;
}

.productdtls .cart ul li {
  list-style: none;
  margin: 0;
  display: inline-block;
}

.productdtls .cart button {
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid #22ab4b;
  padding: 12px 20px;
  background-color: #22ab4b;
  color: #fff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.productdtls .select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.productdtls .select-dropdown select {
  font-size: 1.125rem;
  width: 100px;
  position: relative;
  padding: 12px 20px;
  background: #e9fbef;
  border: 1px solid #22ab4b;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.productdtls .select-dropdown select:active, .productdtls .select-dropdown select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.productdtls .select-dropdown:after {
  content: '';
  background: #fff url("../imgs/dropdown-arrow-down.svg") center no-repeat;
  position: absolute;
  right: 25px;
  top: 23px;
  width: 14px;
  height: 8px;
  display: block;
}

.productslide {
  padding-left: 50px;
  text-align: center;
}

.productslide .carousel-indicators {
  bottom: -30px;
}

.productslide .carousel-indicators li {
  width: 20px;
  background-color: rgba(254, 109, 115, 0.5);
  cursor: pointer;
}

.productslide .carousel-indicators .active {
  background-color: #fe6d73;
}

.productslide .carousel-item img {
  width: 370px;
  height: auto;
}

@media (max-width: 1024px) {
  .producthighlight {
    padding: 10px 0 50px;
  }
  .productdtls h1 {
    font-size: 2.125rem;
  }
  .productdtls .productprice {
    font-size: 2.125rem;
  }
  .productslide .carousel-item img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .productdtls h1 {
    font-size: 1.875rem;
  }
  .productdtls p {
    max-width: 100%;
  }
  .productdtls .productprice {
    font-size: 1.875rem;
  }
  .productslide {
    padding: 30px 0px 0px 0px;
  }
  .productslide .carousel-item img {
    width: 80%;
    height: auto;
  }
}

.shipping {
  width: 100%;
  padding: 40px 0;
}

.shipping .shippingwrap {
  text-align: center;
}

.shipping .shippingwrap .shippingimg {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: 1px dashed #22ab4b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.shipping .shippingwrap .shippingimg img {
  width: auto;
  height: auto;
  margin-top: 35px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.shipping .shippingwrap h2 {
  font-size: 1.1875rem;
  font-weight: 600;
  margin-top: 15px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.shipping .shippingwrap:hover .shippingimg {
  background: rgba(34, 171, 75, 0.05);
}

.shipping .shippingwrap:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.shipping .shippingwrap:hover h2 {
  color: #22ab4b;
}

.shipping .shippingwrap p {
  padding: 0 40px;
  font-size: 1rem;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .shipping {
    width: 100%;
    padding: 40px 0;
  }
  .shipping .shippingwrap {
    text-align: center;
  }
  .shipping .shippingwrap .shippingimg {
    width: 110px;
    height: 110px;
  }
  .shipping .shippingwrap p {
    padding: 0px;
  }
}

@media (max-width: 767px) {
  .shipping {
    width: 100%;
    padding: 40px 0;
  }
  .shipping .shippingwrap {
    margin-bottom: 30px;
  }
  .shipping .shippingwrap:last-child {
    margin-bottom: 0px;
  }
}

.testinfo {
  width: 100%;
  background: #e9fbef;
  padding: 70px 50px 110px;
  position: relative;
  z-index: 50;
}

.testinfo:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;
  z-index: 50;
}

.testinfo .testinfowrap {
  width: 80%;
  padding-left: 50px;
}

.testinfo .testinfowrap h3 {
  font-size: 1.5rem;
  color: #000;
}

.testinfo .testinfowrap p {
  font-size: 1.125rem;
  color: #000;
  margin-top: 30px;
}

@media (max-width: 1440px) {
  .testinfo .testinfowrap {
    width: 80%;
    padding-left: 180px;
  }
}

@media (max-width: 991px) {
  .testinfo .testinfowrap {
    width: 80%;
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .testinfo:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: #fff;
    z-index: 50;
  }
  .testinfo .testinfowrap {
    width: 100%;
    padding-left: 0px;
  }
}

.symptoms {
  width: 100%;
}

.symptoms .symptonswrap {
  max-width: 80%;
  margin-top: -100px;
  margin-left: 20%;
  padding: 40px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
  z-index: 51;
}

.symptoms .symptonswrap h3 {
  max-width: 700px;
  font-size: 1.375rem;
  color: #000;
  font-weight: 600;
  line-height: 1.4;
}

.symptoms .symptonswrap ul {
  max-width: 800px;
  margin: 20px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
}

.symptoms .symptonswrap ul li {
  width: calc(50% - 30px);
  margin: 10px 0;
  font-size: 1.125rem;
  color: #000;
}

@media (max-width: 991px) {
  .symptoms {
    width: 100%;
  }
  .symptoms .symptonswrap {
    padding: 40px 50px;
  }
  .symptoms .symptonswrap h3 {
    font-size: 1.25rem;
    max-width: 540px;
  }
}

@media (max-width: 767px) {
  .symptoms {
    width: 100%;
  }
  .symptoms .symptonswrap {
    max-width: 90%;
    margin-left: 10%;
    padding: 40px 50px;
  }
  .symptoms .symptonswrap h3 {
    max-width: 100%;
  }
  .symptoms .symptonswrap ul {
    max-width: 100%;
  }
  .symptoms .symptonswrap ul li {
    width: calc(100% - 30px);
    margin: 8px 0;
    font-size: 1.0625rem;
  }
}

.productlisting {
  width: 100%;
  padding: 50px 0;
}

.productlisting h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0px;
  color: #000;
}

.productlisting .productitems {
  width: 100%;
  display: -webkit-box;
  display: -ms-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productlisting .productitems .productbox {
  width: calc(25% - 15px);
  padding: 15px 15px 20px;
  background: #fff;
  opacity: 1;
  margin-top: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 0px 9px 29px #0000001A;
          box-shadow: 0px 9px 29px #0000001A;
}

.productlisting .productitems .productbox .productimg {
  background: #e9fbef;
  border-radius: 6px 6px 0 0;
  padding: 15px;
  text-align: center;
}

.productlisting .productitems .productbox .productimg a {
  display: inline-block;
}

.productlisting .productitems .productbox .productimg img {
  width: 164px;
  height: auto;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.productlisting .productitems .productbox .productimg img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.productlisting .productitems .productbox .productname a {
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 10px;
  letter-spacing: 0px;
  display: block;
  color: #000;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.productlisting .productitems .productbox .productname a:hover {
  text-decoration: underline;
  color: #22ab4b;
}

.productlisting .productitems .productbox .productprice {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  margin: 0;
}

.productlisting .productitems .productbox .productdetail {
  font-size: 0.9375rem;
  margin-top: 13px;
  min-height: 50px;
}

.productlisting .productitems .productbox button {
  border: 1px solid #22ab4b;
  padding: 4px 20px 6px;
  background-color: #fff;
  color: #22ab4b;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 15px;
  -webkit-box-shadow: 0px 9px 29px #0000001A;
          box-shadow: 0px 9px 29px #0000001A;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}

.productlisting .productitems .productbox button img {
  vertical-align: middle;
  padding-left: 8px;
  margin-top: -4px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.productlisting .productitems .productbox button:hover img {
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
}

.productlisting .productitems .productbox button:hover {
  background: rgba(34, 171, 75, 0.05);
}

.productlisting .productitems .productbox:hover .productimg img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

@media (max-width: 1024px) {
  .productlisting h1 {
    font-size: 2.125rem;
  }
  .productlisting .productitems .productbox .productimg img {
    width: 100%;
  }
  .productlisting .productitems .productbox .productname {
    min-height: 55px;
  }
  .productlisting .productitems .productbox .productdetail {
    min-height: 70px;
  }
}

@media (max-width: 991px) {
  .productlisting .productitems .productbox {
    width: calc(50% - 8px);
  }
  .productlisting .productitems .productbox .productname {
    min-height: 0;
  }
  .productlisting .productitems .productbox .productdetail {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .productlisting h1 {
    font-size: 1.875rem;
  }
  .productlisting .productitems .productbox {
    width: calc(100% - 8px);
  }
  .productlisting .productitems .productbox .productimg img {
    width: 164px;
  }
}

.contactus {
  width: 100%;
  padding: 5px 0 40px;
}

.contactus .contactwrap {
  padding: 70px;
  position: relative;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  background: #e9fbef;
}

.contactus .contactwrap img {
  position: absolute;
  bottom: 0;
  right: 40px;
  max-width: 170px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.contactus .contactwrap:hover img {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
}

.contactus .contactwrap p {
  font-size: 1.125rem;
  color: #000;
  font-weight: 500;
}

.contactus .contactwrap a {
  font-size: 1.75rem;
  color: #000;
  display: inline-block;
  padding: 10px 0px;
  position: relative;
  line-height: 20px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  position: relative;
}

.contactus .contactwrap a:before {
  content: '';
  border: 0px;
  width: 100%;
  height: 1.5px;
  background: #22ab4b;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.contactus .contactwrap a:hover {
  text-decoration: none;
  color: #22ab4b;
}

.contactus .contactwrap a:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
}

@media (max-width: 991px) {
  .contactus .contactwrap {
    padding: 50px 40px;
  }
  .contactus .contactwrap img {
    max-width: 140px;
  }
}

@media (max-width: 767px) {
  .contactus .contactwrap {
    padding: 50px 40px;
  }
  .contactus .contactwrap img {
    max-width: 100px;
  }
  .contactus .contactwrap p {
    font-size: 1.0625rem;
  }
  .contactus .contactwrap a {
    font-size: 1.25rem;
  }
}
/*# sourceMappingURL=product-details.css.map */